@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }

}
@media screen and (max-width: 410px){
  .backdrop{
    padding: 96px 18px 114px 18px;
  } }
  @media screen and (min-width: 410px) {
    
  .modal {
      position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  }
  .user-text {
    font-size: 12px;
  }
  .privacy-text {
    font-size: 12px;
    letter-spacing: 0.04em;
  }
}
/* -------------benefits------------- */
@media screen and (max-width: 767px) {
  .benefits-pre-text {
    text-align: center;
  }
  .log {
    display: block;
    text-align: center;
  }

  .social-text {
    text-align: center;
    margin-top: 72px;
  }
  .subscribe-footer {
    margin-top: 72px;
  }
  /* -----------------footer---------------- */
  .footer-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .subscribe-text {
    text-align: center;
  }
  .subscribe-wrap {
    flex-wrap: wrap;
  }
  .portfolio > .container {
    max-width: 396px;
  }
  .about-list {
    justify-content: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .command > .container {
    width: 294px;
  }
}