p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  max-width: 100%;
}
/* .no-scroll {
  overflow: hidden;
} */

:root {
  --brand-color: #2e2f42;
  --text-color: #ffffff;
  --caption-color: #434455;
  --font-size: 16px;
  --text: "Raleway", sans-serif;
  --size-text: 800;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #2e2f42;
}
body.no-scroll {
  overflow: hidden;
}
.container {
  /* width: 1158px; */
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* -----------header--------- */

.beginning {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.navigation {
  display: flex;
  align-items: center;
  text-align: center;
}

.beginning > .container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--text);
  font-weight: var(--size-text);
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
  margin-right: 76px;
  display: block;
      text-align: center;
}

.box-logo {
  font-family: var(--text);
  font-weight: var(--size-text);
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header, .contact {
  display: none;
}
.header-wrap {
  position: fixed;
  top: 0;
  width: 100%; 
  height: 100%;
  background: #FFFFFF;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
padding: 40px 0px;
z-index: 1000;
transition: opacity var(--transition), pointer-events var(--transition), visibility var(--transition);
}

.header-btn-open {
  width: 32px; 
  height: 22px;
  padding: 0;
  line-height: 0;
  background-color: transparent;
border: none;
margin-left: auto;
}
.header-btn-icon-open {
  stroke: #2E2F42;
}
.header-btn-close {
  width: 24px; 
  height: 24px;
  padding: 0;
  line-height: 0;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-bottom: 16px;
  cursor: pointer;
}

.header-wrap-item:not(:last-child) {
margin-bottom: 40px;
}
.header-wrap-link {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.header-wrap-link.current {
  color: #404BBF;
}
.header-wrap-contact-item:not(:last-child) {
margin-bottom: 40px;
}
.header-wrap-contact .phone {
  font-weight: 600;
font-size: 8vw;
line-height: 1.11;
text-transform: capitalize;
 color: #4D5AE5; 
 display: inline-block;
}
.header-wrap-contact .email {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.20;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-wrap-icon {
  display: flex;
  gap: 13vw;
  margin-top: 38px;
}
.header-wrap-icon-item {
  width: 40px;
  height: 40px;
}
.header-wrap-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4d5ae5;
  border-radius: 50%;
  fill: #f4f4fd; 
 }
 .header-wrap > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
 }
 .header-wrap.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
/* ----------hero------------- */
.hero {
  background-color: var(--brand-color);
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/heroph.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* max-width: 428px; */
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url(../images/heroph@2x.jpg);
  }
}

.hero-title {
  font-size: 8vw;
  line-height: 1.11;
  text-align: center;
  color: var(--text-color);
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
}

.hero > .container {
  text-align: center;
}

.heto-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: var(--font-size);
  line-height: 1.18;
  cursor: pointer;
  min-width: 169px;
  min-height: 56px;
  background: #4d5ae5;
  color: var(--text-color);
  border-radius: 4px;
  border: 1px solid #4d5ae5;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background var(--transition), border var(--transition),
    box-shadow var(--transition);
}

.heto-btn:hover,
.heto-btn:focus {
  background: #404bbf;
  border: 1px solid #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* -------------benefits------------- */
.benefits {
  padding-top: 96px;
  padding-bottom: 96px;
}
.feature-link {
  display: none;
}
.benefits-list {
  display: flex;
 flex-wrap: wrap;
  gap: 72px;
}
.benefits-item {
  width: 100%;
}
.benefits-pre-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.benefits-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--caption-color);
}

/* ----------item------ */
.item {
  display: none;
}
/* ------------command--------- */
.command {
  background: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 128px;
}

.command-caption {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.comand-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.comand-item {
width: 100%;
  /* width: calc((100%-72px) / 4); */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.command-pre-text {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.command-text {
  font-size: var(--font-size);
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--caption-color); 
  margin-bottom: 8px;
}

.text-list {
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  padding: 32px 16px;
}
.command-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
 
}
.command-icon-item {
  width: 40px;
  height: 40px;
}
.command-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4d5ae5;
  border-radius: 50%;
  fill: #f4f4fd;
  transition: background var(--transition);
}
.command-icon-link:hover,
.command-icon-link:focus {
  background: #404bbf;
}
/* ----------customers------------- */
.section-container {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customers {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
  
}
.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  fill: #8e8f99;
  border-radius: 4px;
  transition: border-color var(--transition), fill var(--transition);
}
.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
}
.customers-link:hover,
.customers-link:focus .customers-icon {
  fill: #404bbf;
}

/* ---------footer ----------*/
.ending {
  background: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}
.log {
  font-family: var(--text);
  font-weight: var(--size-text);
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.box-log {
  font-family: var(--text);
  font-weight: var(--size-text);
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.text {
  font-size: var(--font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  margin-top: 16px;
  max-width: 268px;
}

.social-media-list {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.social-media-item {
  width: 40px;
  height: 40px;
}
.social-media-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #f4f4fd;
  transition: background-color var(--transition);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}
.social-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.subscribe-wrap {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.subscribe-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  display: block;
}
.subscribe-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  outline: none;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  color: #FFFFFF;
}
.subscribe-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  padding: 8px 64px 8px 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  cursor: pointer;  
  position: relative;
}
.subscribe-btn::after {
  content: "";
  width: 24px;
  height: 20px;
  background-image: url(../images/btn-email.svg);
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}

/* --------portfolio------- */
.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}
.portfolio-list {
  margin-bottom: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.portfolio-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: var(--font-size);
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  background: #f4f4fd;
  color: #4d5ae5;
  cursor: pointer;
  min-height: 48px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition: background var(--transition), color var(--transition),
    border var(--transition), box-shadow var(--transition);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background: #404bbf;
  color: #ffffff;
  border: 1px solid #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* --------about------ */
.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}
.about-item {
  background: #ffffff;
  width: calc((100% - 48px) / 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--transition);
}

.about-item:hover,
.about-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  /* cursor: pointer; */
}
.about-pre-text {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.about-text {
  font-size: var(--font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--caption-color);
}
.word {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.about-icon {
  display: block;
}
.about-icon-wrap {
  position: relative;
  overflow: hidden;
}
.about-wrap {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
  padding: 40px 32px 164px 32px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* opacity: 0; */
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition);
}
.about-icon:hover .about-wrap,
.about-icon:focus .about-wrap {
  /* opacity: 1; */
  transform: translateY(0);
}
/* -----------modal----------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition), pointer-events var(--transition),
    visibility var(--transition);
    overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  max-width: 392px;
  width: 100%;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition);
  padding: 16px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}
.backdrop-btn {
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  padding: 0;
  line-height: 0;
  border-radius: 50%;
  margin-left: auto;
  transition: background var(--transition), border-radius var(--transition),
    fill var(--transition);
  margin-bottom: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backdrop-btn:hover,
.backdrop-btn:focus {
  background: #404bbf;
  border-radius: 50%;
  fill: #ffffff;
}
/* --------------modal-------------- */
.modal-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 14px;
}

.modal-field + .modal-field {
  margin-top: 8px;
}
.user-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}
.modal-img {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 38px;
  transition: border var(--transition), border-radius var(--transition);
}
.modal-input:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
}
.modal-input:focus + .input-img {
  fill: #4d5ae5;
}
.input-img {
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition);
}
.modal-content {
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  resize: none;
  display: block;
}
.modal-content::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.input-btn {
  min-width: 169px;
  min-height: 56px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #4d5ae5;
  cursor: pointer;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.input-btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.privacy-wrap {
  margin-top: 16px;
  margin-bottom: 24px;
}
.privacy-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
}
.privacy-text .check-icon {
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  transition: background-color var(--transition), border var(--transition),
    fill var(--transition), border-radius var(--transition);
}
.privacy-input:checked + .privacy-text .check-icon {
  background-color: #404bbf;
  border: 1.25px solid #404bbf;
  border-radius: 2px;
  fill: #f4f4fd;
}
.privacy-link {
  color: #4d5ae5;
  display: block;
}
